/**
 * index.css
 * -----------------------------------------------------------------------------
 * This file, `index.css`, is responsible for defining basic CSS styles and 
 * configurations for our web application. It also includes the setup for the
 * Pandacss framework. It's recommended to AVOID MAKING DIRECT CHANGES TO
 * THIS FILE unless you have a clear understanding of its impact.
 * -----------------------------------------------------------------------------
 */

@layer reset, base, tokens, recipes, utilities;

body {
    background-color: rgb(220,220,220);
    color: rgb(51, 51, 51);
    min-width: 400px;

    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 500;
}
